{% extends "base.html" %}

{% block content_body %}

<div class="d-flex justify-content-center align-items-center">
  <div class="card shadow container-fixed container-fixed-md mt-0 mt-sm-4" style="padding:0;">
    <div class="p-3">
      <canvas id="categoriesChart"></canvas>
    </div>
  </div>
</div>



{% endblock %}


{% block extra_scripts %}
{{ categoriesChartData|json_script:"categoriesChartData" }}
{{ lineChartData|json_script:"lineChartData" }}
<script type="text/javascript">
  const categoriesChartData = JSON.parse($('#categoriesChartData').text());

  const data = {
    labels: categoriesChartData[0],
    datasets: [{
      label: 'Expenses',
      data: categoriesChartData[2],
      backgroundColor: categoriesChartData[1],
      hoverOffset: 8
    }]
  };
  const config = {
    type: 'doughnut',
    data: data,
  };
  const categoriesChart = new Chart(
    $('#categoriesChart'),
    config
  );



  const lineChartData = JSON.parse($('#lineChartData').text());
</script>
{% endblock %}
