{% extends "base.html" %}

{% block content_body %}

<div class="d-flex justify-content-center align-items-center" style="min-height:70vh;">
  <div class="card shadow container-fixed">
    <article class="card-body">
      <h4 class="card-title text-center mb-4 mt-1">Login</h4>
      <hr>
      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
          <input type="text" class="form-control" placeholder="Username" aria-label="Username" name="username"
            autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></i></span>
          <input type="password" class="form-control" placeholder="Password" aria-label="Password" name="password"
            autocomplete="current-password" required="" id="id_password">
        </div>
        {% if form.non_field_errors %}
        <div class="invalid-feedback" style="display: block;">
          {% for error in form.non_field_errors %}
          <p>
            {{ error }}
          </p>
          {% endfor %}
        </div>
        {% endif %}
        <div class="form-group d-grid gap-2 mb-2">
          <button type="submit" class="btn btn-primary btn-block"> Login </button>
        </div>
        <p class="text-center"><a href="#" class="btn">Forgot password?</a></p>
      </form>
    </article>
  </div>
</div>


{% endblock content_body %}
