{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block head_title %}{% endblock %}</title>
  {% block extra_head %}{% endblock %}
  {% include "base_styles.html" %}
</head>

<body style="min-height:100vh;">

  <nav class="navbar shadow sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Expensinator</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavBar"
        aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="mainNavBar">
        <ul class="navbar-nav">
          {% block nav_items %}

          {% endblock nav_items %}
        </ul>
      </div>

    </div>
  </nav>

  {% block content_body %}

  {% endblock content_body %}

  {% include "base_scripts.html" %}
  {% block extra_scripts %}{% endblock %}
</body>

</html>
