<nav class="mt-4">
  <ul class="pagination justify-content-center">
    <li class="page-item {{ page_obj.has_previous|yesno:',disabled' }}">
      <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}">Previous</a>
    </li>

    {% if page_obj.number|add:'-4' > 1 %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
    {% endif %}

    {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="page-item active" aria-current="page">
          <span class="page-link">{{ i }}
            <span class="sr-only">(current)</span>
          </span>
        </li>
      {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
        <li class="page-item">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
    {% endif %}

    <li class="page-item {{ page_obj.has_next|yesno:',disabled' }}">
      <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}">Next</a>
    </li>
  </ul>
</nav>
