{% extends "base.html" %}


{% block content_body %}
<div class="d-flex justify-content-center align-items-center">
  <div class="card shadow container-fixed container-fixed-md mt-4" style="padding:0;">

    <div class="d-grid gap-2 m-3">
      <button class="btn btn-primary " onclick="location.href=`{% url 'categories-create' %}`">
        <i class="fa fa-plus"></i> &nbsp; Add Category
      </button>
    </div>

    {% for category in categories_list %}
    <div class="row ms-0 me-0 border">
      <div class="col-sm-7 p-2 border-bottom">
        <a class="stretched-link text-decoration-none text-dark" href="{{ category.get_absolute_url }}">
          {{ category.name }}</a>
      </div>
    </div>
    {% endfor %}

  </div>
</div>

{% if is_paginated %}
{% include "nav_paginator.html" %}
{% endif %}

{% endblock %}
