{% extends "base.html" %}


{% block content_body %}
<div class="d-flex justify-content-center align-items-center">
  <div class="card shadow container-fixed container-fixed-md mt-0 mt-sm-4">
    <form class="p-3" action="" method="post">
      {% csrf_token %}
      <div class="mb-3">
        {{ form.name.label_tag }}
        {{ form.name }}
        <div id="validationServer03Feedback" class="invalid-feedback">
          {{ form.name.errors.0 }}
        </div>
      </div>
      <div class="mb-3">
        {{ form.color.label_tag }}
        {{ form.color }}
      </div>
      <div class="d-grid mb-3">
        <button type="submit" class="btn btn-primary ">
          <i class="fa fa-save"></i> &nbsp; SAVE
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
