{% extends "base.html" %}

{% block content_body %}
<div class="d-flex justify-content-center align-items-center">
  <div class="card shadow container-fixed container-fixed-md mt-4" style="padding:0;">


    <form action="" method="get">
      {{ filter.form.as_p }}
      <input type="submit" />
    </form>

    <!-- convert this to grid -->
    <div class="list-group">
      <div class="d-flex ">
        <div class="p-2 flex-grow-1 list-group-item-action border">Name</div>
        <div class="p-2 flex-shrink-0 border">Time</div>
        <div class="p-2 flex-shrink-0 border">Amount</div>
      </div>
      {% for expense in expenses_list %}
      <div class="d-flex ">
        <a class="p-2 flex-grow-1 list-group-item-action border">{{ expense.name }}</a>
        <div class="p-2 flex-shrink-0 border">{{ expense.created_at }}</div>
        <div class="p-2 flex-shrink-0 border">{{currency}} {{ expense.amount }}</div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>

{% include "nav_paginator.html" %}

{% endblock %}
