{% extends "base.html" %}

{% block content_body %}
<div class="d-flex justify-content-center align-items-center">
  <div class="card shadow container-fixed container-fixed-md mt-4" style="padding:0;">
    <div class="list-group">
      <div class="list-group list-group-horizontal">
        <a href="#" class="list-group-item list-group-item-action">Name</a>
        <a href="#" class="list-group-item list-group-item-action">Time</a>
        <a href="#" class="list-group-item list-group-item-action">Amount</a>
      </div>
      {% for expense in expenses_list %}
      <div class="list-group list-group-horizontal">
        <a href="#" class="list-group-item list-group-item-action">{{ expense.name }}</a>
        <a href="#" class="list-group-item list-group-item-action">{{ expense.created_at }}</a>
        <a href="#" class="list-group-item list-group-item-action">{{currency}} {{ expense.amount }}</a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include "nav_paginator.html" %}

{% endblock %}
